*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
}

:root{
    --primary-color:#eb5757;
    --secondary-color:#222;
    --light-color:#f9f9f9;
    --dark-color:#333;
}

header{
    width: 100vw;
    height: 150px;
    position: fixed;
    background-color: var(--primary-color);
    z-index: 2;
}

header .covid{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--light-color);
    background-color: var(--secondary-color);
}

header .covid button{
    width: 140px;
    height: 35px;
    border-radius: 18px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
}

header .covid p{
    font-size: 18px;
}

header .menu{
    width: 100%;
    height: 75px;
    padding: 0 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-color);
}

header .menu div{
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu div a{
    height: 35px;
    width: 75px;
    padding-top: 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--light-color);
    display: inline-block;
    transition: all 0.5s ease;
}

header .menu div a:hover{
    background-color: var(--secondary-color);
}

header .menu div button{
    width: 45px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    background-image: url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e86146bb854797d12a30a13_cart.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: none;
    position: relative;
}

header .menu div button span{
    width: 20px;
    height: 20px;
    padding-top: 2px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 35px;
    text-align: center;
    color: var(--dark-color);
    background-color: var(--light-color);
}

main{
    padding-top: 150px;
}

main .boton2:hover{
    color: var(--secondary-color);
    background-color: var(--light-color);
}

.boton2{
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid;
    font-size: 15px;
    border-color: var(--light-color);
    color: var(--light-color);
    background-color: rgba(0, 0, 0, 0);
} 

main .primera{
    height: 500px;
    background-image: url("montaña.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:var(--light-color);
}
.primera{
    padding-top: 20vh;
    padding-left: 7vw;
}
main .primera h1{
    font-size: 60px;
}
main .caja1{
    color: var(--light-color);
    background-color: var(--secondary-color);
    font-size: 25px;
    width: 325px;
    height: 325px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
main .cajas .caja1 .num{
    display: flex;
    padding-left: 3vw;
    padding-top: 35px;
    font-size: 35px;
}
main .suptitulo{
    display: flex;
    padding-top: 30%;
    justify-content: center;
    align-items: center;
}

main .cajas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
}

.textimg{
    display: flex;
    align-items: center;
    padding-left: 10vh;
}

main .suport{
    display: flex;
    padding-left: 10vh;
}
main .textimg2{
    padding-left: 20vw;
}
main .imagen{
    height: 500px;
    background-image: url("https://media.traveler.es/photos/61377819cb06ad0f20e131ee/master/w_1600%2Cc_limit/105562.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:var(--light-color);
    text-align: right;
}
.imagen{
    padding-top: 20vh;
    padding-right: 7vw;
}
main .imagen h2{
    font-size: 48px;
}
.boton3{
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
    width: 15vw;
    height: 6vh;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: var(--dark-color);
    background-color: var(--light-color);
}
main .boton3:hover{
    color: var(--light-color);
    background-color: var(--primary-color);
}
main .shop{
    padding-left: 7vh;
    padding-right: 7vh;
}

main .shop .productos{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .shop .productos .center{
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .shop .productos img{
    border-radius: 10px;
}
main .shop .productos .mochila{
    background-image: url("mochila.png");

    height: 33vw;
    width: 53vh;
    border-radius: 10px;
}
main .shop .productos .center .boton4{
    transition: all 0.5s ease;
    width: 7vw;
    height: 6vh;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
}
main .shop .productos .center .boton4:hover{
    color: var(--light-color);
    background-color: var(--secondary-color);
}
main .shop .productos .mochila .saleubi{
    height: 20vw;
    width: 60vh;
    padding-top: 1vw;
    padding-left: 35vh;
}
main .shop .productos .mochila .saleubi .sale{
    width: 7vw;
    height: 6vh;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
}
.del{
    color: var(--primary-color);
}
main .boton5ubi{
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .boton5ubi .boton5{
    transition: all 0.5s ease;
    width: 12vw;
    height: 6vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
}
main .boton5:hover{
    background-color: var(--primary-color);
}
main .texto{
    height: 80vh;
    width: 100%;
    padding-left: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .texto .textubi{
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 30%;
    width: 70%;
    height: 70vh;
    color: var(--light-color);
    background-color:var(--secondary-color);
}

/* main .texto .textubi .compubi{
    display: flex;
    height: 70%;
    padding-left: 10px;
    padding-top: 50px;
    
} */

footer .pie{
    display: flex;
    align-items: center;
    height: 20vh;
    width: 100%;
    color:var(--light-color);
    background-color: var(--dark-color);
}
footer .pie .logos{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    left: 90%;
    bottom: 25px;
}
footer .pie .logos .logo2{
    
} 
.compubi{
    z-index: 1;
    left: 70%;
}
.web{
    color: var(--primary-color);
}